@model ReadExcel.Models.SalesForcVIewModel
@{
    ViewBag.Title = "Search Sell Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Tìm kiếm</h2>
<html>
<head>

    <link href="~/Content/upload.css" type='text/css' rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

</head>
<body>

    <br />


    <div class="table-responsive">

        @using (Html.BeginForm("GetAllChildren", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-4">
                Miền
                @Html.DropDownListFor(m => m.StateModel, new SelectList(Model.StateModel, "Id", "ParName"), " ",
                             new { @class = "form-control", @id = "ddlstate", @style = "width:200px;", @onchange = "GetValue(this.value,'#ddlcity');" })

            </div>


            <div class="col-sm-4">
                Vùng <select id="ddlcity" class="form-control" name="ddlcity" style="width: 200px" onchange="GetValue(this.value, '#ddlcity1');"></select>
            </div>
            <div class="col-sm-4">
                SS <select id="ddlcity1" class="form-control" name="ddlcity1" style="width: 200px" onchange="GetValue(this.value, '#ddlcity2');"></select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <input type="submit" name="btnupload" value="Tìm"  class="btn btn-primary" />
            </div>
        </div>
        <input type="hidden" id="dd1" name="dd1" />
        <input type="hidden" id="dd2" name="dd2" />
        <input type="hidden" id="dd3" name="dd3" />
}
    </div>
  



</body>
</html>
<script>
    $("#ddlstate").on("change", function () {
        $("#dd1").val($(this).find("option:selected").text());
    });
    $("#ddlcity").on("change", function () {
        $("#dd2").val($(this).find("option:selected").text());
    });
    $("#ddlcity1").on("change", function () {
        $("#dd3").val($(this).find("option:selected").text());
    });
    function GetValue(_stateId, id) {
        var procemessage = "<option value='0'> Please wait...</option>";
        //$("#ddlcity").html(procemessage).show();
        var url = "/Home/GetEmpByParentID";

        $.ajax({
            url: url,
            data: { parentCode: _stateId, level: 3 },
            cache: false,
            type: "POST",
            success: function (data) {

                var markup = "<option value='0'></option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $(id).html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
  
    $(document).ready(function () {


        $('#tableId').DataTable({
            "oLanguage": {
                "sSearch": "Tìm Kiếm", //search,
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            pageLength: 50,
            "bSort": false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    title: '',
                    text: 'Xuất file'
                }
            ],
            "columnDefs": [
                {
                    "targets": [3, 4, 5, 6, 7, 8, 12],
                    "visible": false

                }

            ]

        });



        $("table").removeClass("dataTable");
        openTab(event, 'tab1');
        $("#button1").addClass("active");

        
    });

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";

    }



</script>

