*.cache

*.dll
*.xml
*.dll
*.config
.vs/ReadExcel/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.xml
*.dll
*.pdb
*.dll
*.cache
*.cache
*.dll
ReadExcel/bin/ReadExcel.pdb
ReadExcel/bin/ReadExcel.dll
ReadExcel/obj/Debug/ReadExcel.dll
ReadExcel/obj/Debug/ReadExcel.pdb
*.dll
ReadExcel/MyTestAppender.log.txt
